# Import the necessary libraries

In [1]:
import sys
import os
import matplotlib.pyplot as plt
import seaborn as sns
import logging
import pandas as pd

# Configure logging
logging.basicConfig(filename='../logs/',
                    level=logging.INFO,
                    format='%(asctime)s:%(levelname)s:%(message)s')
  

sys.path.append(os.path.abspath(os.path.join(os.getcwd(), '../scripts')))
from load_csv_data import Load_CSV_Data

# Load the data sets

In [2]:
df = Load_CSV_Data('../data/cleaned_Copy of BrentOilPrices.csv')
df.load_csv_data()
df = df.get_data()

df_gdp_long = Load_CSV_Data('../data/gdp/cleaned_gdp_data.csv')
df_gdp_long.load_csv_data()
df_gdp_long = df_gdp_long.get_data()

df_inflation_long = Load_CSV_Data('../data/inflation/cleaned_inflation_data.csv')
df_inflation_long.load_csv_data()
df_inflation_long = df_inflation_long.get_data()

df_exrate_long = Load_CSV_Data('../data/exchange_rate/cleaned_exchange_rate_data.csv')
df_exrate_long.load_csv_data()
df_exrate_long = df_exrate_long.get_data()

Data successfully loaded from ../data/cleaned_Copy of BrentOilPrices.csv
Data successfully loaded from ../data/gdp/cleaned_gdp_data.csv
Data successfully loaded from ../data/inflation/cleaned_inflation_data.csv
Data successfully loaded from ../data/exchange_rate/cleaned_exchange_rate_data.csv

In [3]:
df.head()

         Date  Price
0  1987-05-20  18.63
1  1987-05-21  18.45
2  1987-05-22  18.55
3  1987-05-25  18.60
4  1987-05-26  18.63

In [4]:
df_gdp_long.head()

,Country,CountryCode,GDP_Indicator,Indicator Code,Year,GDP
0,Aruba,ABW,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,1987,1.790000e+00
1,Afghanistan,AFG,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,1987,3.927643e+01
2,Angola,AGO,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,1987,2.990000e-08
3,United Arab Emirates,ARE,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,1987,3.671000e+00
4,Argentina,ARG,"Official exchange rate (LCU per US$, period av...",PA.NUS.FCRF,1987,2.144300e-04

In [5]:
df_inflation_long.head()

,Country,CountryCode,Inflation_Indicator,Indicator Code,Year,Inflation
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,1987,4.877095e+08
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,1987,1.858120e+11
2,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1987,1.122950e+11
3,Albania,ALB,GDP (current US$),NY.GDP.MKTP.CD,1987,2.080796e+09
4,Andorra,AND,GDP (current US$),NY.GDP.MKTP.CD,1987,6.112999e+08

In [6]:
df_exrate_long.head()

,Country,CountryCode,ExchangeRate_Indicator,Indicator Code,Year,Exchange_Rate
0,Aruba,ABW,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,1987,3.591970
1,Africa Eastern and Southern,AFE,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,1987,12.694070
2,Africa Western and Central,AFW,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,1987,2.356512
3,Angola,AGO,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,1987,9.823311
4,Albania,ALB,"Inflation, GDP deflator (annual %)",NY.GDP.DEFL.KD.ZG,1987,-0.000306

# Merge the data set

In [7]:
# Step 1: Add 'Year' column to the Brent oil data
df['Year'] = pd.to_datetime(df['Date']).dt.year

# Step 2: Confirm that the 'Year' column is added
print("Brent Oil Data with Year Column:")
print(df.head())

# Step 3: Select necessary columns and rename others in each dataframe
df_gdp_long = df_gdp_long[['Year', 'Country', 'CountryCode', 'GDP']].rename(columns={'GDP': 'GDP_Value'})
df_inflation_long = df_inflation_long[['Year', 'Country', 'CountryCode', 'Inflation']].rename(columns={'Inflation': 'Inflation_Rate'})
df_exrate_long = df_exrate_long[['Year', 'Country', 'CountryCode', 'Exchange_Rate']].rename(columns={'Exchange_Rate': 'ExRate_Value'})

# Step 4: Merge the dataframes on 'Year', 'Country', and 'CountryCode'
merged_data = pd.merge(df, df_gdp_long, on='Year', how='left')
merged_data = pd.merge(merged_data, df_inflation_long, on=['Year', 'Country', 'CountryCode'], how='left')
merged_data = pd.merge(merged_data, df_exrate_long, on=['Year', 'Country', 'CountryCode'], how='left')

# Step 5: Display the merged data to verify the result
print("Merged Data:")
print(merged_data.head())
merged_data.to_csv('../data/merged_brent_oil_data.csv', index=False)

Brent Oil Data with Year Column:
         Date  Price    Year
0  1987-05-20  18.63  1987.0
1  1987-05-21  18.45  1987.0
2  1987-05-22  18.55  1987.0
3  1987-05-25  18.60  1987.0
4  1987-05-26  18.63  1987.0
Merged Data:
         Date  Price    Year               Country CountryCode     GDP_Value  \
0  1987-05-20  18.63  1987.0                 Aruba         ABW  1.790000e+00
1  1987-05-20  18.63  1987.0           Afghanistan         AFG  3.927643e+01
2  1987-05-20  18.63  1987.0                Angola         AGO  2.990000e-08
3  1987-05-20  18.63  1987.0  United Arab Emirates         ARE  3.671000e+00
4  1987-05-20  18.63  1987.0             Argentina         ARG  2.144300e-04

   Inflation_Rate  ExRate_Value
0    4.877095e+08      3.591970
1             NaN           NaN
2             NaN      9.823311
3    3.638491e+10      3.685585
4    1.090290e+11    127.539918